{% extends 'base.html' %}

{% block title %}Create Product{% endblock %}

{% block product %}
    <div class="container pt-5">
        {% if error %}
            <p class="font-weight-normal">{{ error }}</p>
        {% endif %}
        <h1>Create Product!</h1>
        <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group pt-3">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" placeholder="Enter Title" style="width: 300px" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
              <textarea class="form-control" id="description" name="body" placeholder="Enter Description About The Product" cols="30" rows="5" style="width: 500px" required></textarea>
          </div>
          <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL" style="width: 300px" required>
          </div>
          <div class="form-group">
            <label for="icon">Icon:</label>
            <input type="file" class="form-control" id="icon" name="icon" placeholder="Upload an Icon" style="width: 300px" required>
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control" id="image" name="image" placeholder="Upload an Image" style="width: 300px" required>
          </div>
          <input type="submit" class="btn btn-outline-secondary btn-lg" style="border-radius: 12px" value="Add Product">
        </form>
    </div>
{% endblock %}