{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block account %}
    <div class="container pt-5">
        {% if error %}
            <p class="font-weight-normal">{{ error }}</p>
        {% endif %}
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group pt-3">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" placeholder="Enter Username" style="width: 300px" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Enter Password" style="width: 300px" required>
          </div>
          <input type="submit" class="btn btn-outline-secondary btn-lg" style="border-radius: 12px" value="Login">
        </form>
    </div>
{% endblock %}